@import '../../../styles/variables.scss';

.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $windows-98-gray;
  height: 40px;

  &__dropbtn {
    height: 30px;
    width: 100px;
    border: none;
    outline: none;
    margin: 4px;
    font-weight: 600;
    font-size: 13px;
    padding: 5px;
    letter-spacing: 2px;
    outline: none !important;
    box-shadow: inset -2px -2px #0a0a0a, inset 1px 1px #fff,
      inset -4px -4px grey, inset 2px 2px #dfdfdf;

    &-active {
      width: 150px;
      color: black;
      font-weight: 600;
      position: absolute;
      bottom: 0;
      right: 0;
      box-sizing: border-box;
      padding: 9px;
      margin: 4px;
      box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    }

    img {
      width: 70px;
    }
  }

  &__dropup {
    position: relative;
    display: inline-block;
  }

  &__dropup-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    bottom: 39px;
    z-index: 1;
    padding: 5px;
    box-shadow: inset -2px -2px #0a0a0a, inset 1px 1px #fff,
      inset -4px -4px grey, inset 2px 2px #dfdfdf;

    &__action {
      display: flex;
      padding: 0px 5px;

      &-shut-down {
        display: flex;
        border-top: 1px solid gray;
        padding: 0 5px;

        img {
          width: 50px !important;
          height: 50px !important;
        }

        p {
          color: black;
          padding: 20px 15px !important;
          text-decoration: none;
          display: block;
          box-sizing: border-box;
        }
      }
    }

    p {
      color: black;
      padding: 20px 25px;
      text-decoration: none;
      display: block;
      box-sizing: border-box;
    }

    p:hover {
      color: white;
    }

    img {
      padding-top: 10px;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
    }
  }

  &__dropup-content__action:hover {
    background-color: #282be6;
  }

  &__dropup-content__action-shut-down:hover {
    background-color: #282be6;
  }
}
